body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(128, 128, 128, 0.8), rgba(128, 128, 128, 0.8)),
                url('background.png');
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #333;
}

.container {
    text-align: center;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    margin-bottom: 40px;
}


.logo {
    max-width: 100px;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

a, .register-button {
    color: #0077cc;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover, .register-button:hover {
    background-color: #005fa3;
}

.form-container {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    flex-direction: column;
    margin-top: 20px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.form-container.show {
    max-height: 500px;
    opacity: 1;
}

.form-container input, .form-container button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.form-container button:hover {
    background-color: #005fa3;
}

.thank-you-message {
    font-weight: 700;
    margin-top: 20px;
    color: #0077cc;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.thank-you-message.show {
    opacity: 1;
}

.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    pointer-events: none;
    transition: background-color 0.5s ease;
}

